<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/notfound.css">
</head>
<body>
    <h1><a href="/">404</a></h1>
<p>Нет такой книги</p>
<a href="/"><button class="btn btn-success">Go home</button></a>
<div class="travolta"></div>
</body>
</html>